<div class="panel panel-default">
    <div class="panel-body">
        <p class="lead">
            <strong>watch.js</strong> aggregates video recordings made during
            JavaScript conferences and meetups. The aim of this site is to
            gather top-quality videos, that are already available online in
            youtube or vimeo, in one place, adding the possibility to browse by
            events, speakers, tags, etc.
        </p>
        <p>
            <a href="#/contact">Contact</a> us if you want to have your event's
            videos published at watch.js!
        </p>
        <p>
            <a href="https://travis-ci.org/tkoomzaaskz/watchjs.org">
                <img alt="Build Status: Linux" src="https://travis-ci.org/tkoomzaaskz/watchjs.org.svg?branch=master" style="max-width:100%;">
            </a>
        </p>
    </div>
</div>
