<div class="panel panel-default">
    <div class="panel-body">
        <h1>{{ speaker.name }}</h1>
        <h3 ng-show="speaker.twitter"><a href="http://twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a></h3>
        videos:
        <ul>
            <li ng-repeat="element in speaker.videos">
                <a href="#/video/{{ element.video.id }}">{{ element.video.title }}</a>
                at
                <a href="#/event/{{ element.event.id }}">{{ element.event.name }}</a>
            </li>
        </ul>
    </div>
</div>
