<div class="panel panel-default">
    <div class="panel-body">
        <h1>{{ video.title }}</h1>
        <h3>
            by <span ng-repeat="speaker in video.speakers">
                <a href="#/speaker/{{ speaker.id }}">{{ speaker.name }}</a>{{$last ? '' : ', '}}
            </span>
            at <a href="#/event/{{ video.event.id }}">{{ video.event.name }}</a>
        </h3>
        <youtube-video video-id="video.videoId"></youtube-video>
        <div>
            tags:
            <span ng-repeat="tag in video.tags">
                <a href="#/tag/{{ tag }}">{{ tag }}</a>{{$last ? '' : ', '}}
            </span>
        </div>
    </div>
</div>
